.home {
    font-family: "Montserrat", sans-serif;
    background-color: var(--dark-color);
    color: #fff;
}

.hero {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    overflow-y: hidden;
}


.hero .hero-card {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../assets/haaland.jpeg);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--blue-color);
    overflow: hidden;
}

.hero .live {
    background-image: url(../assets/live.png);
    background-size: cover;
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            var(--blue-color) 0%,
            var(--blue-color) 52%,
            rgba(0, 0, 0, 0.49) 80%);
    z-index: 800;
}

.live::before {
    position: sticky;
}

/* Ensure card content is above the gradient */
.hero-card>* {
    position: relative;
    z-index: 801;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    box-sizing: border-box;
    gap: 60px;
    text-transform: uppercase;
    color: #fff;
}

.big-text {
    font-weight: 700;
    font-size: clamp(2rem, 1.2rem + 5vw, 4rem);
    line-height: 100%;
}

.big-text span {
    color: var(--green-color);
}

.hero-content p {
    font-weight: 600;
    font-size: 15px;
}

.hero-card .access-btn {
    background-color: var(--green-color);
    color: var(--blue-color);
    width: fit-content;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 25px;
}

.hero-fixture {
    background-color: var(--blue-color);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live .hero-fixture {
    background-color: var(--green-color);
}

.hero-fixture h1 {
    font-size: clamp(1.4rem, 1rem + 1vw, 2rem);
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px;
}

.live .hero-fixture h1 {
    color: var(--dark-color);
}

.hero-fixture h1 span {
    color: var(--green-color);
    font-size: 18px;
}

.hero-fixture a {
    color: #fff;
    font-weight: 600;
    text-decoration: 2px underline transparent;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;

    &:hover {
        color: var(--green-color);
        text-decoration-color: var(--green-color);
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
    }
}

.live .hero-fixture a {
    color: var(--dark-color);

    &:hover {
        color: var(--dark-color);
        text-decoration-color: var(--dark-color);
    }
}


/*events styling start*/

.events {
    color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
    display: flex;
    border: 1px solid grey;
    border-right: none;
    border-left: none;
    gap: 20px;
    font-family: inherit;
}

.events h1 {
    font-size: 18px;
    width: fit-content;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.event-results {
    display: flex;
    overflow-y: scroll;
    overflow-y: hidden;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
}

.event-results .result-box {
    border-right: 1px solid grey;
    padding: 15px 30px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 600;
}
.result-box:nth-last-child(1) {
    border-right: none;
}
.result-box h2 {
    line-height: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}
.result-box ul {
    list-style-type: none;
}
.result-box ul .check {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.check li {
    display: flex;
    align-items: center;
    width: 100%;
}
.color {
    height: 8px;
    width: 8px;
    background-color: var(--blue-color);
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
}
.check:nth-last-child(1) .color {
    background-color: red;
}
.num {
    margin-left: 70px;
    justify-self: flex-end;
}
.check:nth-last-child(1) {
    color: grey;
}

/* features styling starts*/

.features {
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}
.features .feat-head {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.feat-head p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
.feat-head .feat-nav {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.feat-nav .control {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
.control li {
    background-color: var(--green-color);
    display: flex;
    padding: 8px 10px;
    border: 2px solid transparent;
    font-size: 19px;
    box-sizing: border-box;
    color: var(--dark-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: transparent;
        border-color: var(--green-color);
        color: var(--green-color);
    }
}

.features-box {
    overflow: hidden;
    box-sizing: border-box;
    padding: 150px 0 50px 0;
    position: relative;
    &::-webkit-scrollbar {
        display: none;
    }
}
    
.features-box .feat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    &:hover {
        /* transform: translateY(-70px); */
        transform: translateY(-15px) scale(1.03);
    }
}
.features-box .feat-card {
    flex: 1;
}

.features-box .debate {
    background-color: var(--purple-color);
}
.features-box .reactions {
    background-color: var(--blue-color);
}
.features-box .rally {
    background-color: var(--red-color);
}
.feat-fixture ul {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: space-between;
}
.feat-fixture .channel-color, .match-top .channel-color {
    border: 1px solid red;
    background-color: var(--red-color);
    padding: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.rally .channel-color {
    background-color: var(--green-color);
    color: var(--red-color);
}
.feat-fixture ul li {
    font-size: 20px;
    line-height: normal;
}
.feat-fixture .dbt {
    text-align: right;
}
.feat-fixture ul article {
    display: flex;
    align-items: center;
    gap: 10px;
}
.feat-fixture .dte {
    font-size: 13px;
    text-align: left;
}
.feat-fixture img {
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: cover;
    object-position: center;
}
.feat-foot {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.feat-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.feat-info ul {
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}
.feat-foot button {
    background-color: var(--green-color);
    color: var(--dark-color);
    width: fit-content;
    align-self: flex-end;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid transparent;
    &:hover {
        background-color: var(--dark-color);
        border-color: var(--green-color);
        color: var(--green-color);
    }
}

/* styling for leagues start here*/

.leagues {
    box-sizing: border-box;
    padding: 20px;
}
.lgs {
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}
.leagues .league-top {
    border: 1px solid firebrick;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.league-top ul {
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}
.league-top .league-logo {
    background-position: center;
    background-size: cover;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.league-matches {
}
.match-nav {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}
.match-nav a {
    font-size: 13px;
    text-decoration: 2px underline;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        color: gray;
        text-decoration-color: gray;
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
    }
}
.matches {
    display: flex;
    overflow-y: scroll;
    gap: 25px;
    &::-webkit-scrollbar {
        display: none;
    }
}
.matches .match-card {
    min-width: 350px;
    padding: 30px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: var(--green-color);
        color: var(--dark-color);
    }
}
.match-top ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}
.match-top .channel-color {
    padding: 5px;
}
.match-top li {
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.match-top .dte {
    font-size: 10px;
    font-weight: 500;
}
.match-info {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 20px;
}
.match-info .mch-date {
    font-size: 40px;
    line-height: normal;
    font-weight: 800;
}
.match-info p {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.match-info span {
    color: var(--green-color);
    transition: all .3s ease-in-out;
}
.matches .match-card:hover .match-info span {
    color: var(--red-color);
}
.match-info .live-btn {
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: 700;
    text-transform: inherit;
    transition: all .3s ease-in-out;
}
.matches .match-card:hover .live-btn {
    background-color: var(--dark-color);
    color: var(--green-color);
    &:hover {
        background-color: transparent;
        color: var(--dark-color);
        border-color: var(--dark-color);
    }
}


@media screen and (max-width: 750px) {
    .hero .hero-card {
        background-size: cover;
    }

    .hero-content {
        gap: 30px;
        padding: 30px 20px;
    }

    .hero br {
        display: none;
    }

    .big-text {
        font-weight: 700;
        line-height: normal;
        font-size: clamp(2rem, 1.2rem + 5vw, 2rem);
    }
    .hero-content .access-btn {
        font-size: 15px;
        padding: 10px 20px;
    }
    .hero-content p {
        font-weight: 600;
        font-size: 12px;
    }
    .hero-fixture h1 {
        font-size: clamp(1rem, 1rem + 1vw, 1.2rem);
    }

    .hero-fixture h1 span,
    .hero-fixture a {
        font-size: 12px;
    }
    .feat-head .big-text {
        font-size: clamp(2rem, 1.2rem + 5vw, 3rem);
    }
}

@media screen and (max-width: 550px) {
    .hero {
        padding: 10px;
    }
    .hero-content {
        gap: 60px;
    }

    .hero-fixture {
        flex-direction: column;
        align-items: self-start;
        gap: 10px;
        padding: 15px;
    }

    .hero .live {
        background-size: cover;
        background-position: center;
    }

    .hero-card::before {
        inset: 0;
        background: linear-gradient(90deg,
                var(--blue-color) 0%,
                #00408a3e 50%,
                rgba(0, 0, 0, 0.248) 80%);
        z-index: 800;
    }
    .events {
        padding: 0 15px 0 15px;
        margin-top: 20px;
        gap: 0;
        align-items: stretch;
    }
    .event-results .result-box, .leagues {
        padding: 15px;
    }
    .events h1 {
        display: flex;
        border-right: 1px solid grey;
        display: flex;
        align-items: center;
    }
    /* .num {
        margin-left: 50px;
    } */
    .features {
        margin-top: 30px;
        padding: 20px 15px;
    }
    .features-box .feat-card {
        &:hover {
            transform: none !important;
        }
    }
    .features-box {
        padding: 50px 0 0 0;
    }
    .feat-head .big-text {
        font-size: clamp(2rem, 1.2rem + 4vw, 3rem);
        align-self: flex-start;
    }
    .feat-fixture ul, .feat-foot {
        padding: 20px 10px;
    }
    .feat-fixture .channel-color {
        padding: 5px;
    }
    .feat-fixture ul li {
        font-size: 17px;
    }
    .feat-fixture .dte {
        font-size: 10px;
    }
    .feat-nav {
        flex-direction: column;
    }
    .feat-foot button {
        padding: 10px 15px;
        font-size: 13px;
    }
    .matches {
        gap: 15px;
    }
    .matches .match-card {
        min-width: 300px;
        width: 100%;
        padding: 20px;
    }
    .match-info .mch-date {
        font-size: 30px;
    }
}