.home {
    font-family: "Montserrat", sans-serif;
    background-color: var(--dark-color);
    color: #fff;
}

.hero {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    overflow-y: hidden;
}


.hero .hero-card {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../assets/psg.webp);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--blue-color);
    overflow: hidden;
}

.hero .live {
    background-image: url(../assets/live.png);
    background-size: cover;
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            var(--blue-color) 0%,
            #00224875 52%,
            rgba(0, 0, 0, 0.248) 80%);
    z-index: 800;
}

.live::before {
    position: sticky;
}

/* Ensure card content is above the gradient */
.hero-card>* {
    position: relative;
    z-index: 801;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    box-sizing: border-box;
    gap: 60px;
    text-transform: uppercase;
    color: #fff;
}

.big-text {
    font-weight: 700;
    font-size: clamp(2rem, 1.2rem + 5vw, 4rem);
    line-height: 100%;
}

.big-text span {
    color: var(--green-color);
}

.hero-content p {
    font-weight: 600;
    font-size: 15px;
}

.hero-card .access-btn {
    background-color: var(--green-color);
    color: var(--blue-color);
    width: fit-content;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 25px;
}

.hero-fixture {
    background-color: var(--blue-color);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live .hero-fixture {
    background-color: var(--green-color);
}

.hero-fixture h1 {
    font-size: clamp(1.4rem, 1rem + 1vw, 2rem);
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px;
}

.live .hero-fixture h1 {
    color: var(--dark-color);
}

.hero-fixture h1 span {
    color: var(--green-color);
    font-size: 18px;
}

.hero-fixture a {
    color: #fff;
    font-weight: 600;
    text-decoration: 2px underline transparent;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;

    &:hover {
        color: var(--green-color);
        text-decoration-color: var(--green-color);
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
    }
}

.live .hero-fixture a {
    color: var(--dark-color);

    &:hover {
        color: var(--dark-color);
        text-decoration-color: var(--dark-color);
    }
}


/*events styling start*/

.events {
    color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
    display: flex;
    border: 1px solid grey;
    border-right: none;
    border-left: none;
    gap: 20px;
    font-family: inherit;
}

.events h1 {
    font-size: 18px;
    width: fit-content;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.event-results {
    display: flex;
    overflow-y: scroll;
    overflow-y: hidden;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.event-results .result-box {
    border-right: 1px solid grey;
    padding: 15px 30px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 600;
}

.result-box:nth-last-child(1) {
    border-right: none;
}

.result-box h2 {
    line-height: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}

.result-box ul {
    list-style-type: none;
}

.result-box ul .check {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.check li {
    display: flex;
    align-items: center;
    width: 100%;
}

.color {
    height: 8px;
    width: 8px;
    background-color: var(--blue-color);
    box-sizing: border-box;
    margin-right: 10px;
    display: flex;
}

.check:nth-last-child(1) .color {
    background-color: red;
}

.num {
    margin-left: 70px;
    justify-self: flex-end;
}

.check:nth-last-child(1) {
    color: grey;
}

/* features styling starts*/

.features {
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.feat-head {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feat-head p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.feat-head .feat-nav {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.feat-nav .control {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.control li {
    background-color: var(--green-color);
    display: flex;
    padding: 8px 10px;
    border: 2px solid transparent;
    font-size: 19px;
    box-sizing: border-box;
    color: var(--dark-color);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: transparent;
        border-color: var(--green-color);
        color: var(--green-color);
    }
}

.features-box {
    overflow: hidden;
    box-sizing: border-box;
    padding: 150px 0 50px 0;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }
}

.features-box .feat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    transition: all .3s ease-in-out;

    &:hover {
        /* transform: translateY(-70px); */
        transform: translateY(-15px) scale(1.03);
    }
}

.features-box .feat-card {
    flex: 1;
}

.features-box .debate {
    background-color: var(--purple-color);
}

.features-box .reactions {
    background-color: var(--blue-color);
}

.features-box .rally {
    background-color: var(--red-color);
}

.feat-fixture ul {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: space-between;
}

.feat-fixture .channel-color,
.match-top .channel-color {
    border: 1px solid red;
    background-color: var(--red-color);
    padding: 8px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.rally .channel-color {
    background-color: var(--green-color);
    color: var(--red-color);
}

.feat-fixture ul li {
    font-size: 20px;
    line-height: normal;
}

.feat-fixture .dbt {
    text-align: right;
}

.feat-fixture ul article {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feat-fixture .dte {
    font-size: 13px;
    text-align: left;
}

.feat-fixture img {
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: cover;
    object-position: center;
}

.feat-foot {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.feat-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.feat-info ul {
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.feat-foot button {
    background-color: var(--green-color);
    color: var(--dark-color);
    width: fit-content;
    align-self: flex-end;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid transparent;

    &:hover {
        background-color: var(--dark-color);
        border-color: var(--green-color);
        color: var(--green-color);
    }
}

/* styling for leagues start here*/

.leagues {
    box-sizing: border-box;
    padding: 20px;
}

.lgs {
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}

.leagues .league-top {
    border: 1px solid firebrick;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.league-top ul {
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.league-top .league-logo {
    background-position: center;
    background-size: cover;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.league-matches {}

.match-nav {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

.match-nav a {
    font-size: 13px;
    text-decoration: 2px underline;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        color: gray;
        text-decoration-color: gray;
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
    }
}

.matches {
    display: flex;
    overflow-y: scroll;
    gap: 25px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.matches .match-card {
    min-width: 350px;
    padding: 30px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--green-color);
        color: var(--dark-color);
    }
}

.match-top ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

.match-top .channel-color {
    padding: 5px;
}

.match-top li {
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.match-top .dte {
    font-size: 10px;
    font-weight: 500;
}

.match-info {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 20px;
}

.match-info .mch-date {
    font-size: 40px;
    line-height: normal;
    font-weight: 800;
}

.match-info p {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.match-info span {
    color: var(--green-color);
    transition: all .3s ease-in-out;
}

.matches .match-card:hover .match-info span {
    color: var(--red-color);
}

.match-info .live-btn {
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid transparent;
    font-size: 15px;
    font-weight: 700;
    text-transform: inherit;
    transition: all .3s ease-in-out;
}

.matches .match-card:hover .live-btn {
    background-color: var(--dark-color);
    color: var(--green-color);

    &:hover {
        background-color: transparent;
        color: var(--dark-color);
        border-color: var(--dark-color);
    }
}


/* break styling starts here*/
.break {
    padding: 30px 20px;
    box-sizing: border-box;
    background-image: url(../assets/cwc.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.break::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001731af;
    z-index: 800;
}

.break>* {
    z-index: 801;
}

.break-head {
    text-align: center;
}

.break-head .logo {
    font-size: 30px;
    text-transform: uppercase;
    display: inline-flex;
}

.break-head em {
    color: var(--green-color);
}

.break-head h2 {
    font-weight: 700;
    font-size: 18px;
}

.break-mid .scoreline {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    color: var(--dark-color);
    position: relative;

    box-sizing: border-box;
}

.scoreline li {
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 22px);
    text-transform: uppercase;
    position: relative;
}

.scoreline .half {
    position: absolute;
    background-color: var(--green-color);
    color: var(--dark-color);
    padding: 1px 6px;
    font-size: 12px;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
}

.scoreline .goals {
    background-color: var(--purple-color);
    height: auto;
    font-size: clamp(20px, 3vw, 30px);
    color: #fff;
}

.scoreline .team {
    border-bottom: 4px solid #bbbbbb;
    background-color: #fff;
}

.scoreline .team:nth-child(2) {
    border-bottom: none;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right,
                var(--blue-color) 0%, var(--blue-color) 50%,
                var(--dark-color) 50%, var(--dark-color) 100%);
    }
}

.scoreline .time {
    background-color: #001f4b;
    color: #fff;
    border-bottom: 4px solid var(--green-color);
}

.break-foot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.break-foot p {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

/* news styling starts here*/
.news {
    padding: 50px 20px;
    box-sizing: border-box;
}

.news-update {
    margin-top: 50px;
}
.news-update .news-card {
    background-image: url(../assets/pep.jpg);
    padding: 25px;
    height: 100%;
    padding-top: 350px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}
.news-update .carlo {
    background-image: url(../assets/carlo.jpg);
    background-position: top center;
}
.news-update .klopp {
    background-image: url(../assets/klopp.jpg);
    background-position: top center;
}
.news-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0000001a;
    z-index: 800;
}
.news-card h2, .news-card p {
    z-index: 801;
    position: relative;
}
.news-card .quote {
    background-image: url(../assets/quotation.png);
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    top: -20px;
    left: -12px;
    transform: rotate(180deg);
}
.news-card h2 {
    font-size: 17px;
    background-color: var(--purple-color);
    padding: 15px;
    box-sizing: border-box;
    line-height: normal;
}
.klopp h2 {
    background-color: var(--red-color);
}
.carlo h2 {
    background-color: var(--blue-color);
}
.news-card p {
    background-color: #fff;
    color: var(--purple-color);
    width: fit-content;
    display: flex;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
}
.news-card p span {
    background-color: var(--green-color);
    padding: 3px 10px;
}
.klopp p {
    color: var(--red-color);
}
.carlo p {
color: var(--blue-color);
}

/* subscription styling starts here*/
.subscription {
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: var(--red-color);
    overflow: hidden;
}
.subscription h1 {
    font-size: 8.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
}
.subscription h2 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
}
.subscription h1 span {
    font-size: 5.5rem;
}
.sub-images {
    /* border: 4px solid var(--green-color); */
    margin: 0 auto;
    margin-top: -170px;
    width: fit-content;
    position: relative;
    transform: translateY(100px);
}
.sub-images img {
    object-fit: cover;
    object-position: center;
}
.sub-images .ucl {
    width: 400px;
    z-index: 2;
    position: relative;
}
.sub-images .uel {
    transform: rotate(320deg);
    width: 250px;
    position: absolute;
    bottom: 0;
    left: -70px;
    z-index: 1;
}
.sub-images .uecl {
    transform: rotate(40deg);
    width: 210px;
    position: absolute;
    bottom: 0;
    right: -50px;
    z-index: 1;
}
.subscription button {
    background-color: var(--green-color);
    color: var(--dark-color);
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 3;
    &:hover {
        background-color: var(--dark-color);
        color: var(--green-color);
        border-color: var(--green-color);
    }
}

footer {
    padding: 50px 30px;
    box-sizing: border-box;
    overflow: hidden;
}

/*newsletter styling starts here */
.newsletter {
    padding: 20px 0 50px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-transform: uppercase;
}
.newsletter h1 {
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
}
.newsletter .news-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news-form form {
    display: flex;
}
.news-form input {
    padding: 10px 15px;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-right: none;
    font-family: inherit;
    text-transform: inherit;
    font-weight: 800;
    font-size: 15px;
    transition: all .3s ease-in-out;
    &:hover, &:focus {
        border-color: var(--green-color);
        background-color: transparent;
        color: #fff;
    }
}
.news-form button {
    display: flex;
    padding: 10px;
    font-size: 20px;
    color: var(--red-color);
    background-color: var(--green-color);
    box-sizing: border-box;
    border: 2px solid transparent;
    align-items: center;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: transparent;
        border-color: var(--green-color);
        color: var(--green-color);
    }
}

.footers {
    border-top: 1px solid grey;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.footers ul {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footers ul li {
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    list-style-position: inside;
    text-decoration: 2px underline transparent;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        color: var(--green-color);
        text-decoration-color: var(--green-color);
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
    }
}
.footers ul:nth-child(2) li {
    list-style-type: none;
}
.footers ul:nth-child(1) li:nth-child(1) {
    list-style-type: none;
}
.biggest {
    font-size: clamp(80px, 38vw, 550px);
    position: relative;
    z-index: 1;
    transform: translateX(clamp(-110px, -10vw, -120px));
    margin-bottom: clamp(-350px, -20vw, -200px);
    /* transform: translateY(100px); */
    text-transform: uppercase;
    font-weight: 900;
    line-height: 100%;
}
.biggest span {
    color: var(--green-color);
}


@media screen and (max-width: 750px) {
    .hero .stream {
        background-size: cover;
    }

    .hero-content {
        gap: 30px;
        padding: 30px 20px;
    }

    .hero br {
        display: none;
    }

    .big-text {
        font-weight: 700;
        line-height: normal;
        font-size: clamp(2rem, 1.2rem + 5vw, 2rem);
    }

    .hero-content .access-btn {
        font-size: 15px;
        padding: 10px 20px;
    }

    .hero-content p {
        font-weight: 600;
        font-size: 12px;
    }

    .hero-fixture h1 {
        font-size: clamp(1rem, 1rem + 1vw, 1.2rem);
    }

    .hero-fixture h1 span,
    .hero-fixture a {
        font-size: 12px;
    }

    .feat-head .big-text {
        font-size: clamp(2rem, 1.2rem + 5vw, 3rem);
    }
    .subscription h2 {
        font-size: clamp(2rem, 1.2rem + 5vw, 3rem);
    }
    .subscription h1 {
        font-size: clamp(5rem, 3rem + 6vw, 8rem);
    }
    .sub-images {
        margin-top: -150px;
    }
    .sub-images .ucl {
        width: 300px;
    }
    .sub-images .uel {
        width: 180px;
        left: -60px;
    }
    .sub-images .uecl {
        width: 160px;
        right: -40px;
    }
    .newsletter, .footers {
        flex-direction: column;
        gap: 50px;
    }
    .newsletter br {
        display: none;
    }
    .newsletter  .news-form {
        width: 100%;
    }
    .news-form input {
        width: 100%;
        padding: 17px 15px;
    }
    .news-form button {
        padding: 10px 20px;
    }
    .footers {
        gap: 20px;
    }
    .footers ul:nth-last-child(1) {
        align-self: flex-end;
    }
    .biggest {
        font-size: clamp(70px, 38vw, 400px);
        transform: translateX(clamp(-70px, -10vw, -120px));
        margin-bottom: clamp(-150px, -20vw, -200px);
    }
}

@media screen and (max-width: 550px) {
    .hero {
        padding: 10px;
    }
    .hero-content {
        gap: 60px;
    }

    .hero-fixture {
        flex-direction: column;
        align-items: self-start;
        gap: 10px;
        padding: 15px;
    }

    .hero .live {
        background-size: cover;
        background-position: center;
    }

    .hero-card::before {
        inset: 0;
        background: linear-gradient(90deg,
        #00224894 50%,
                #00224894 50%,
                #00224894 50%);
        z-index: 800;
    }

    .events {
        padding: 0 15px 0 15px;
        margin-top: 20px;
        gap: 0;
        align-items: stretch;
    }

    .event-results .result-box,
    .leagues {
        padding: 15px;
    }

    .events h1 {
        display: flex;
        border-right: 1px solid grey;
        display: flex;
        align-items: center;
    }

    /* .num {
        margin-left: 50px;
    } */
    .features {
        margin-top: 30px;
        padding: 20px 15px;
    }

    .features-box .feat-card {
        &:hover {
            transform: none !important;
        }
    }

    .features-box {
        padding: 50px 0 0 0;
    }

    .feat-head .big-text {
        font-size: clamp(2rem, 1.2rem + 4vw, 3rem);
        align-self: flex-start;
    }

    .feat-fixture ul,
    .feat-foot {
        padding: 20px 10px;
    }

    .feat-fixture .channel-color {
        padding: 5px;
    }

    .feat-fixture ul li {
        font-size: 17px;
    }

    .feat-fixture .dte {
        font-size: 10px;
    }

    .feat-nav {
        flex-direction: column;
    }

    .feat-foot button {
        padding: 10px 15px;
        font-size: 13px;
    }

    .matches {
        gap: 15px;
    }

    .matches .match-card {
        min-width: 300px;
        width: 100%;
        padding: 20px;
    }

    .match-info .mch-date {
        font-size: 30px;
    }
    .break {
        padding: 50px 15px;
    }
    .break-head .logo {
        font-size: 28px;
    }
    .break-head h2 {
        font-size: 15px;
    }
    .scoreline li {
        font-size: clamp(16px, 1.8vw, 20px);
    }
    .scoreline .goals {
        font-size: clamp(17px, 2.6vw, 25px);
    }
    .news {
        padding: 50px 15px;
    }
    .news-update .news-card {
        padding-top: 300px;
    }
    .subscription {
        padding: 30px 15px;
    }
    .subscription h2 {
        font-size: clamp(1.5rem, 1.2rem + 5vw, 2rem);
    }
    .subscription h1 {
        font-size: clamp(4rem, 3rem + 5vw, 6rem);
    }
    .sub-images .ucl {
        width: 55vw;
    }
    .sub-images .uel {
        width: 180px;
        width: 32vw;
        transform: rotate(330deg);
        left: -50px;
    }
    .sub-images .uecl {
        min-width: 100px;
        width: 29vw;
        right: -40px;
    }
    footer {
        padding: 40px 15px;
    }
    .newsletter h1 {
        font-size: 15px;
        font-weight: 600;
    }
    .footers ul li {
        font-size: 13px;
    }
    .biggest {
        font-size: clamp(70px, 38vw, 400px);
        transform: translateX(clamp(-45px, -10vw, -120px));
        margin-bottom: clamp(-130px, -20vw, -200px);
    }
}

@media screen and (max-width:450px) {
    .biggest {
        font-size: clamp(70px, 38vw, 400px);
        transform: translateX(clamp(-40px, -10vw, -120px));
        margin-bottom: clamp(-110px, -20vw, -200px);
    }   
}