@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

:root {
    --dark-color: #1a1a1a;
    --blue-color: #00418a;
    --green-color: #e4f52c;
    --red-color: #e33932;
}
.no-scroll{
    overflow: hidden;
    height: 100vh;
}
a {
    color: inherit;
    transition: all .3s ease-in-out;
}
body.menu-open {
    overflow: hidden;
    height: 100vh;
}

button {
    font-family: inherit;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nav-bar {
    position: relative;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: var(--dark-color);
    color: #fff;
    position: sticky;
    top: 0;
}

.nav-bar .navigation {
    display: flex;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: 800;
    font-size: clamp(15px, 3vw, 1.7rem);
    line-height: 100%;
    z-index: 1001;
}
.navigation .desk-nav, .navigation .nav-extras {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 700;
}
.navigation .desk-nav {
    gap: 18px;
}

.desk-nav li, .mobile-nav li {
    font-weight: 600;
    /* font-size: 14px; */
    font-size: clamp(10px, .9vw, 13px);
    text-decoration: 2px underline transparent;
    text-underline-offset: 1px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        color: gray;
        text-decoration-color: gray;
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
    }
}
.nav-extras {
    gap: 10px;
}
.nav-extras li {
    font-size: 10px;
    display: flex;
    cursor: pointer;
}
.nav-extras .icn {
    font-size: 15px;
}
.nav-extras span {
    color: grey;
}

.toggle {
    display: none;
    width: 25px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    gap: 7px;
}

.toggle span {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 1px;
    transition: all .1s ease-in-out;
    z-index: 1001;
}

.first.information,
.second.information {
    background-color: #f4f2ea;
}

.mobile-nav {
    position: fixed;
    background-color: #18181ba1;
    backdrop-filter: blur(10px);
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}
.mobile-nav.show {
    opacity: 1;
    visibility: visible;
}
.mobile-nav li {
    font-size: 20px;
}

@media screen and (max-width: 750px) {
    .navigation .desk-nav li {
        display: none;
    }
    .logo {
        font-size: clamp(25px, 4vw, 2rem);
    }
    .toggle {
        display: flex;
    }
    .nav-bar .navigation {
        padding: 20px 15px;
    }
}